{% extends "layout.html" %}

{% block content %}
<div class="container body-content mx-0 px-0" style="max-width:none">
    <div class="row">
        <div class="col-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form method="POST" action="./browse">
                            <h4 class="pt-2">Filters</h4>
                            {% for category in categories %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="{{category}}" name="{{category}}">
                                <label class="form-check-label" for="{{category}}">
                                    {{category.capitalize()}}
                                </label>
                            </div>
                            {% endfor %}
                            <input class="btn btn-dark" name="Toepassen" type="submit" value="Toepassen">
                        </form>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="flex-grid">
                {% for book in books.items %}
                <a class="flex-row" href="{{ url_for('bookdetail', book_id=book.book_id) }}">
                    <div class="card-image-wrapper">
                        <img class="card-image" src={{ book.image_url }} alt="Card image cap">
                    </div>
                    <div class="card-body-wrapper">
                        <p class="card-text">{{ book.title }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="pagination">
                <div class="text-right">
                    <a href="{{ url_for('book', page=books.prev_num) }}" class="btn btn-outline-dark
                        {% if books.page == 1 %}disabled{% endif %}">
                        &laquo;
                    </a>
                    {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                    {% if books.page == page_num %}
                    <a href="{{ url_for('book', page=page_num) }}" class="btn btn-dark">
                        {{ page_num }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('book', page=page_num) }}" class="btn btn-outline-dark">
                        {{ page_num }}
                    </a>
                    {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                    <a href="{{ url_for('book', page=books.next_num) }}" class="btn btn-outline-dark
                    {% if books.page == books.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                </div>
                <p class="text-right mt-3">
                    Showing page {{ books.page }} of {{ books.pages }}
                </p>
            </div>
        </div>

        <div class="col-2"></div>
    </div>
</div>
{% endblock %}