<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Judge a book by its description</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link href="https://fonts.gstatic.com">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-color">
        <a class="navbar-brand" href="{{ url_for('index') }}">Jugde book by description</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('book', page=1) }}">Browse</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        {% block content %}{% endblock %}

    </div>

    <footer class="footer-bg">
        <div class="container footer-content">
            <p class="footer-text">&copy; {{ year }} - Judge the book by its description</p>

        </div>
    </footer>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
